.env
!.env.example
*.txt
*.json

*.png

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

.vscode/
.idea/
.VSCodeCounter/

chat_history/
uploads/
chroma_db/
logs/
experiment/
experiment2/
*.md
!README.md
